@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
  background-color: hsl(212, 45%, 89%);
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
  font-family: Outfit;
}

#qr-card{
  height: 32rem;
  border-radius: 1rem;
}

#qr-card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#qr-card-text {
  height: 50%;
}

#qr-image{
  border-radius: 0.75rem;
  margin-bottom: 1rem;
}

.chakra-text{
  padding: 0 1.25rem;
}

#bold{
  font-weight: 700;
  line-height: 1.85rem;
}

#text{
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  line-height: 1.25rem;
}